@media (max-width:1770px) {
    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .container .box-container .box p {
        font-size: 12px;
    }
}

@media (max-width:1600px) {
    .container .scale-img img {
        height: 60px !important;
    }

    .scale-title h3 {
        font-size: 17px !important;
    }
}

@media (max-width:1518px) {
    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width:1475px) {
    .container p{
        display: none;
    }

    .g {
        left: -125px;
    }
    
    .d {
        right: -125px;
    }

    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .container .box-container .box h3 {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    .profil {
        margin: 25vh 80px;
    }

    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .fleche {
        top: 500px;
    }
}

@media (max-width:1250px) {
    .g {
        left: -100px;
    }
    
    .d {
        right: -100px;
    }
}


@media (max-width:768px){
    .container{
        padding:20px;
    }
}