@media (max-width:1770px) {
    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .container .box-container .box p {
        font-size: 12px;
    }
}

@media (max-width: 1605px) {
    .container .scale-img img {
        height: 60px !important;
        margin-bottom: 20px;
    }

    .scale-title h3 {
        font-size: 15px !important;
        margin-bottom: 7px;
    }
}

@media (max-width:1518px) {
    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width:1475px) {
    .container p{
        display: none;
    }

    .fleche {
        top:250px;
    }

    .g {
        left: -120px;
    }
    
    .d {
        right: -120px;
    }

    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .container .box-container .box h3 {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    .profil {
        margin: 25vh 80px;
    }

    .container .box-container {
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }

    .container .box-container .box img {
        height: 60px;
      }

    .container .scale-img img {
        height: 50px !important;
        margin-bottom: 10px;
    }
}

@media (max-width: 1250px) {
    .profil h1 {
        font-size: 3rem;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .profil p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .profil img {
        width: 300px;
        margin-left: 10px;
    }

    .container .box-container .box {
        padding: 15px 10px;
    }

    .fleche {
        top: 200px;
    }

    .g {
        left: -100px;
    }
    
    .d {
        right: -100px;
    }
}

@media (max-width:1080px) {
    header {
        justify-content: center;
    }

    .portfolio {
        display: none;
    }

    .profil h1 {
        font-size: 2.7rem;
    }

    .profil p {
        font-size: 0.8rem;
    }

    .profil img {
        width: 250px;
    }

    .container h1 {
        padding-top: 90px;
        padding-bottom: 15px;
        font-size: 40px;
    }

    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .container .scale-img img {
        height: 60px !important;
        margin-bottom: 0;
    }

    .fleche {
        top: 400px;
    }
}

@media (max-width:871px) {
    .profil h1 {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    .profil p {
        font-size: 0.6rem;
    }

    .profil img {
        width: 200px;
    }

    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .container h1 {
        text-align: center;
        padding-top: 120px;
        margin-bottom: 30px;
        font-size: 35px;
    }

    .fleche {
        top: -95px;
        width: 50px;
        height: 50px;
    }

    .g {
        left: 70px;
    }

    .d {
        right: 70px;
    }
}


@media (max-width:768px) {
    header {
        padding: 20px;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-size: 10px;
    }

    .profil h1 {
        font-size: 1.8rem;
    }

    .profil p {
        font-size: 0.4rem;
    }

    .profil img {
        width: 150px;
    }
    
    .container h1 {
        padding-top: 60px;
        margin-bottom: 50px;
        font-size: 25px;
    }

    .container h2 {
        font-size: 15px;
    }

    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    }

    .container h3 {
        font-size: 9px !important;
    }

    .scale-title h3 {
        font-size: 7px !important;
        margin-bottom: 2px;
    }

    .container .scale-img img {
        height: 30px !important;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .container .box-container .box img {
        height: 40px;
    }

    .container .box-container .box .btn {
        margin-top: 7px;
        font-size: 9px;
        border-radius: 5px;
        padding: 4px 12px;
    }

    .fleche {
        top: -100px;
        width: 30px;
        height: 30px;
    }

    .g {
        left: -30px;
    }

    .d {
        right: -30px;
    }
    
}

@media (max-width:675px) {
    .container .scale-img img {
        height: 40px !important;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .g {
        left: 10px;
    }

    .d {
        right: 10px;
    }
}

@media (max-width:570px) {
    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .scale-title h3 {
        font-size: 10px !important;
        margin-bottom: 2px;
    }

    .container h3 {
        font-size: 12px !important;
    }

    .g {
        left: -20px;
    }

    .d {
        right: -20px;
    }
}

@media (max-width:470px) {
    .container h1 {
        padding-top: 120px;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .container .box-container {
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    }

    .container h3 {
        font-size: 9px !important;
    }

    .scale-title h3 {
        font-size: 7px !important;
        margin-bottom: 2px;
    }

    .container .scale-img img {
        height: 30px !important;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .container .box-container .box .btn {
        margin-top: 7px;
        font-size: 12px;
        border-radius: 5px;
        padding: 4px 12px;
    }

    .fleche {
        top: -60px;
    }

    .g {
        left: -30px;
    }

    .d {
        right: -30px;
    }
}